<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sony.mts.dao.PositionMapper">

  <resultMap id="BaseResultMap" type="com.sony.mts.entity.Position">
    <id column="pos_num" jdbcType="CHAR" property="posNum" />
    <result column="dep_num" jdbcType="CHAR" property="depNum" />
    <result column="pos_name" jdbcType="VARCHAR" property="posName" />
    <collection property="employee" resultMap="EmployeeMap"/>
  </resultMap>
  
  <resultMap id="EmployeeMap" type="com.sony.mts.entity.Employee">
    <id column="emp_id" jdbcType="CHAR" property="empId" />
    <result column="dep_num" jdbcType="CHAR" property="depNum" />
    <result column="pos_num" jdbcType="CHAR" property="posNum" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="card_id" jdbcType="CHAR" property="cardId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="mobile_num" jdbcType="CHAR" property="mobileNum" />
    <result column="email_adr" jdbcType="VARCHAR" property="emailAdr" />
    <result column="pass_wd" jdbcType="VARCHAR" property="passWd" />
  </resultMap>
  
  <sql id="Base_Column_List">
    pos_num, dep_num, pos_name
  </sql>
  
  <!-- 职位信息追加 -->
  <insert id="insert" parameterType="com.sony.mts.entity.Position">
    insert into Position_info (pos_num, dep_num, pos_name)
    values (#{posNum,jdbcType=CHAR}, #{depNum,jdbcType=CHAR}, #{posName,jdbcType=VARCHAR})
  </insert>
  
  <!-- 职位信息删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Position_info
    where pos_num = #{posNum,jdbcType=CHAR}
  </delete>
  
  <!-- 职位信息更新 -->
  <update id="updateByPrimaryKey" parameterType="com.sony.mts.entity.Position">
    update Position_info
    set dep_num = #{depNum,jdbcType=CHAR},
      pos_name = #{posName,jdbcType=VARCHAR}
    where pos_num = #{posNum,jdbcType=CHAR}
  </update>
  
  <!-- 职位信息部分更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.sony.mts.entity.Position">
    update Position_info
    <set>
    	<if test="depNum != null"> dep_num = #{depNum,jdbcType=CHAR},</if>
    	<if test="posName != null"> pos_name = #{posName,jdbcType=VARCHAR},</if>
    </set>
	where pos_num = #{posNum,jdbcType=CHAR}
  </update>
  
  <!-- 职位信息取得（主键） -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Position_info
    where pos_num = #{posNum,jdbcType=CHAR}
  </select>
  
  <!-- 职位信息取得(posName) -->
  <select id="selectByPosName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Position_info
    where pos_name = #{posName,jdbcType=VARCHAR}
  </select>
  
  <!-- 全部职位信息取得 -->
  <select id="selectAllPos" resultMap="BaseResultMap">
    select
  <include refid="Base_Column_List" />
    from Position_info
  </select>

</mapper>